<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
</head>

<body>
    <p><a href="{% url 'home' %}">Home</a><span>....</span><a href="{% url 'login' %}">Librain
            Login</a><span>....</span><a href="{% url 'librarian_logout' %}">Logout</a><span>....</span><a
            href="{% url 'register' %}">Librain Signup</a><span>....</span><a href="{% url 'book' %}">Book CRUD</a>
    </p>
    <hr>

    <form method="post" action="">
        {% csrf_token %}
        <div>
            <div>
                {{forms.as_p}}
            </div>
        </div>
        <!-- /.card-body -->

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    {{msg}}
</body>

</html>